

.row {
  background-color: #343a40;
  overflow: hidden;

}

/* All Columns */
.column {
  float: left;
  padding: 10px;
  height: 90.75vh;
  max-height: 90.75vh; /* accounts for nav-bar, no scroll in window */
}

/* Rooms and servers Column */
.column.left {
  width: 25%;
  border-top-right-radius: 8px;
  background-color: #ffffff;
}

/* Chat Column */
.column.middle {
    width: 60%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #343a40
}

/* Friends List Column */
.column.right {
    width: 15%;
    border-top-left-radius: 8px;
    background-color: #ffffff;

}

/* Headers above list-groups */
.header{
  text-align: center;
}

#header-chat {
  color: #ffffff;
}

/* List-group containing list-group-items */
.list-group {
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    max-height: 70%;
}

.selected-list-item {
  background-color: #ddd;
}

/* list-group of servers */
#servers {
    max-height: 25%;
}

/* list-group of rooms */
#rooms {
    max-height: 50%;
}

/* list of friends */
#friends-list {
  max-height: 85%;
}

/* room and server id numbers */
.rooms-servers-ids {
    color: #000000;
    font-weight: bold;
}

/* toggle active list-group-item */
.active {
    color: blue;
    background-color: #cf5c3f;
}

#refresh-chat {
  background-color: #ffffff;
  border-radius: 8px;
}

/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-right: 10%;
    width: auto
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
    margin: 10px;
    
    margin-left: 10%;
  }
  
  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

  /* Current User's username within message */
  .username-right {
    float: right;
    color: #aaa;
  }

  /* Other User's username within message */
  .username-left {
      float: left;
      color: #999;
  }

  .refresh-right {
      float: right;
  }

  .input-text {
    border-radius: 5px;
  }

  #send-msg-container {
    text-align: center;
  }

  #send-msg-input {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  #send-msg-btn {
    margin-left: 10px;
    color: #343a40;
    background-color: #ffffff
  }

  #search-friend {
    width: 75%;
  }

  #name-room {
    width: 85%;
  }

