.header{
    text-align: center;
}

.column {
    float: left;
    padding: 10px;
}

.column.left {
    width: 25%;
}

.column.middle {
    width: 60%;
}

.column.right {
    width: 15%;
}

.list-group {
    margin-bottom: 10px;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}



#servers {
    max-height: 150px;
}

#rooms {
    max-height: 300px;
}

#friends-list {
    max-height: 300px;
}



.rooms-servers-ids {
    color: #000000;
    font-weight: bold;
}



