<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="login.component.css">
  <script src="login.component.ts"></script>
</head>
<body>

    
    <!--Testing-->
    <!-- {{login_form.value | json }} -->
    <div class="container">
        
        <form #login_form="ngForm" (ngSubmit)="login(login_form.value)">
            <h2 class="center">Login</h2>
            <label for="username" class="center">Username:</label>
            <div class="form-group center">
                
                
                <input name="username" type="text" class="form-control center" id="username" style="width:200px" ngModel>
            </div>
            <label for="pwd" class="center">Password:</label>
            <div class="form-group center">
                
                <input name="password" type="password" class="form-control center" id="pwd" style="width:200px" ngModel>
                <button id="sign-in" type="submit" class="btn btn-info center">Sign in</button>
            </div>
        </form>
    </div>

</body>