<h2 id="heading">Create Account</h2>
<form method="POST">
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" style="width:200px">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" style="width:200px">
    </div>
    <button id="submit" (click)="register()" type="button" class="btn btn-info">Create Account</button>
</form>
