<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="register.component.css">
  <script src="register.component.ts"></script>
</head>
<body>


<!--Testing-->
<!-- {{login_form.value | json }} -->
    <div class="container">
        
        <form #register_form="ngForm" (ngSubmit)="register(register_form.value)">
            <h2 class="center">Create Account</h2>
            <label for="username" class="center">Username:</label>
            <div class="form-group center">
                
                
                <input name="username" type="text" class="form-control center" id="username" style="width:200px" ngModel>
            </div>
            <label for="pwd" class="center">Password:</label>
            <div class="form-group center">
                
                <input name="password" type="password" class="form-control center" id="pwd" style="width:200px" ngModel>
                <button id="register" type="submit" class="btn btn-info center">Sign Up</button>
            </div>
        </form>
    </div>
</body>


