<!DOCTYPE html>

<head>
  <link rel="stylesheet" type="text/css" href="home.component.css">
  <script src="home.component.ts"></script>
</head>
<body>
    <div class="row">
        <div class="column column-left">
            <h4 class="header">Welcome to OpenCommunication</h4>
            <p>Chat among your friends, family & community!</p>
        </div>
        <div class="column column-middle">
            <div class=logo-container>
                <img src="./assets/images/openCommunicationLogo.png" class="center" alt="openCommunicationLogo">
                <label class="center-text">OpenCommunication</label>
            </div>
        </div>
        <div class="column column-right">
            <h4 class="header">Get Started</h4>
            <p>Sign up or login using the links above!</p>
        </div>

    </div>
</body>